.nav-header{
    font-family:Inter;
    
    width:100%;
    margin:0;
    padding: 0;
    
    background: white;
    border: transparent;
    border-bottom-right-radius: 20px;
    position: sticky;
    top:0;
    z-index: 30;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2); 
    
    
}
.navbar
{
   
    display:flex;
    justify-content:space-around;
    margin :0;
    background: transparent;
    padding:0  15px;
   z-index: 40;
    
}

.divide{
    display:flex;
    align-items:center;
    justify-content: center;
    width:20%;
    
}
.navbar ul{
    font-family:inherit;
    width:40%;
    
    font-size:16px;
    margin:0;
    padding:0;
    list-style:none;
    display:flex;
    align-items:center;
    justify-content:space-around;
    gap:20px;
    color:#00278C;
    font-weight: 550;
}


.navbar li{
    cursor: pointer;
}